@import "tailwindcss";

@theme {
  --font-sans: "Inter", "Arial", sans-serif;
}

:root {
  --background: #ffffff;
  --foreground: #111827;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}

/* Стили для наших суровых таблиц */
.vsol-table {
  @apply w-full text-left border-collapse border border-gray-200;
}

.vsol-table th {
  @apply p-3 bg-gray-100 border border-gray-200 text-xs uppercase font-bold text-gray-600;
}

.vsol-table td {
  @apply p-3 border border-gray-200 text-sm;
}